/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 
  header.site-header {
    background: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 26%;
  }


  /* landing Page header
     ----------------------------------------------------*/
   header.registration-header.landing-h { 
      background: url(../images/landing-page-header.jpg);

      margin-bottom: 0;
   }
  

/* Registration
   ----------------------------------------------------*/



  header.registration-header {

    padding: 50px  50px 50px;
    margin-bottom: 30px;
    background: url(../images/registration-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 26%;
       padding: 100px  50px 50px;

         @include breakpoint ($xs) {
            padding: 0  20px 50px;
         }

           @include breakpoint ($sm) {
                 padding: 140px 50px 50px;  
           }



       h1  {text-align: center; font-size: 60px; color: #19494e; margin-bottom: 6px;   
          @include breakpoint ($xs) {
           font-size: 40px;
          }
            @include breakpoint ($sm) {
              margin-top: 22px;
            }
       }
      p  {text-align: center; font-size: 18px; color: #19494e; margin-bottom: 20px; line-height: 1.3;
        
           font-size: 14px;
        
         }

          .company-list__content {
        max-width: 518px;
        margin-left: auto;
        margin-right: auto;
        padding: 26px 47px; 
        background: rgba(255, 255, 255, 0.7);
            padding-right: 18px;
      }

      .carousel-controles {
        @include clearfix;
        position: relative; 
      }




  }

  
  

  header.search-header {
    background: url(../images/search-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 26%;
    @include breakpoint ($lg) {
         padding: 100px 100px 0; 
      }

      @include breakpoint ($md) {
         padding: 100px 100px 0; 
      }


     @include breakpoint ($sm) {
         padding: 100px 100px 0; 
      }


       @include breakpoint ($xs) {
         padding: 0 30px 0; 
      }



    .job-search-widget {
      margin-bottom: 0; 
      // margin-top: 30px; 
    }

    // .main-nav .navbar-fixed-top {
    //   margin-top: 150px; 
    //     @include breakpoint ($xs) {
    //       margin-top: 0;   
    //     }
    // }
  }
  

  header {
	   text-align: center; 
	    padding: 120px  50px 51px;
	    @include breakpoint ($xs) {
     		 padding: 0px 20px 46px; 
     	}

     	@include breakpoint ($lg) {
     		 padding: 120px 100px 46px; 
     	}
	p {

      color: #19494e; font-size: 48px; margin-bottom: 0;     line-height: 0.8; 

        @include breakpoint ($xs) {
          font-size: 40px; 
        }

    }
	h2 {

     color: #363636; margin: 0; font-size: 72px;   margin-bottom: 60px;font-weight: bold;  
        @include breakpoint ($xs) {
           font-size: 60px;   
        }
   }

	.job-search-widget {
		margin-bottom: 40px;
		text-align: left;  
	}

  }

  .job-search-widget {
  	max-width: 1072px; 

    &.job-detail-100 {
      max-width: 100%;       
    }
  	margin: 0 auto;
  	background: rgba(255, 255, 255, 0.7);
  	padding: 15px 20px; 
  	p { 

        margin-bottom: 10px; font-size: 18px; color: #19494e; font-weight: bold;  

    }
	
		@include breakpoint (max-width 992px) {
			.no-padding-right	 {padding-right: 15px !important; }
		}

  	.form-control	{
  		height: 48px;
  		border: 2px solid #2e5357;
  		color: #2e5357;
  		line-height: 2.228571;
  		font-size: 18px; 
  		padding: 6px 12px 6px 12px;
		&:focus {
				border-color: darken( #2e5357, 10% );
		}
  		// Placeholder
  		&::-moz-placeholder {
  		  color: #2e5357; //dark gray
  		  opacity: 1;
  		  font-size: 18px;
  		  
  		}
  		&:-ms-input-placeholder {
  		  color: #2e5357; //dark gray
  		  font-size: 18px;
  		 
  		}
  		&::-webkit-input-placeholder {
  		  color: #2e5357; //dark gray
  		  font-size: 18px;
  		  
  		}

  	}

  	.input-city {
  		width: 64%; display: inline-block; 
  		padding-right: 10px; 
  		position: relative; 
  		input {  width: 100%;  display: inline-block;} 

  		i.city{ 
  			position: absolute;
  			top: 10px; 
  			right: 22px; 
			 display: inline-block;
			 background-image: url("../images/icons-set.png");
			 background-repeat: no-repeat;
			 background-position: 0 0px;
			 width: 17px;
			 height: 29px;
  		}
  	}

  	button  { 
  			width: 35%;  
  			padding: 7px 12px;
  			height: 47px;
  			font-size: 18px; 
  			float: right;
  	}

  	.job-search-w-footer {
  		padding-top: 6px;
  		p {margin: 0; display: inline-block; }
  		ul {
			margin-bottom: 0; 
  			padding-left: 10px; 
  				@include breakpoint ($sm) {
  					padding-left: 0; 
  				}

  				@include breakpoint ($xs) {
  					padding-left: 0; 
  				}
  			display: inline-block;

  			li {
				    padding-right: 0;
  				&:after {
  					content: "";
  					padding-left: 5px;
  					margin-left: 10px;
					 display: inline-block;
					 background-image: url("../images/icons-set.png");
					 background-repeat: no-repeat;
					 background-position: -22px 0; 
					 width: 1px;
					 height: 31px;
					 vertical-align: middle;
					 	@include breakpoint ($xs) {
					 		content: none;
					 	}
  				}

  				&:last-child {
  						&:after {
						 background-position: -220px 0; 
  					}
  				}

  				a {
						    font-size: 18px; color: #19494e; 

                 @include breakpoint ($xs) {
                    font-size: 14px;  
                }



						    vertical-align: middle;

  				}
  			}

  		 }
  	}
  }


  /* Job List
     ----------------------------------------------------*/
  
  
  .job-list {
  	background: #ecf0f1;
  	padding: 40px 50px 46px; 
  	@include breakpoint ($lg) {
     		 padding: 40px 100px 46px; 
     	}
  	@include breakpoint ($xs) {
     		 padding: 40px 20px 46px; 
     	}
  	border-bottom: 2px solid #7da6ab;
  	border-top: 2px solid #7da6ab;
  	.job-list__header {
  		text-align: center; 	
  		margin-bottom: 30px; 
  		h1 {display: inline-block; margin-left: 8px;  vertical-align: super; }
  		
  		p { font-size: 24px; color: #19494e;
        
            @include breakpoint ($xs) {
              font-size: 18px;  
            }
       }
  	}
	
	.job-list__content {
		padding:0 50px; 
			@include breakpoint ($xs) {
				.col-xs-12	 {
					//text-align: center; 
				}
			}
		ul {
			display: inline-block;
				@include breakpoint ($sm) {
					margin-bottom: 50px;
				}

	  		li {
				text-align: left; 
	  			a {

	  				color: #363636; 
	  				font-size: 18px;

             @include breakpoint ($xs) {
                font-size: 14px;  
              }


 
	  				line-height: 1.8;
	  			}
	  		}
  		}	
	}
  	
  	a.more { font-size: 16px; }

    .btn-anchor:focus, .btn-anchor.focus {
        color: #337ab7;
        background-color: transparent;
        border-color: #fff;
    }

    .collapse.jobs-collape {
      display: block;
        @include breakpoint ($xs) {
          display: none;  
        }
    }

     .collapse.jobs-collape.in {
        
        @include breakpoint ($xs) {
          display: block;  
        }
    }

    button i { margin-left: 6px; 
      
    }

}

  .jobs-icon {
  	 display: inline-block;
  	 background-image: url("../images/icons-set.png");
  	 background-repeat: no-repeat;
  	 background-position: -29px 0; 
  	 width: 44px;
  	 height: 43px;
  }


  /* Location
     ----------------------------------------------------*/
    .job-list-by-loc {
    	padding: 40px 50px 46px;
    		@include breakpoint ($lg) {
     		 padding: 40px 100px 46px; 
     	}
    		@include breakpoint ($xs) {
    	   		 padding: 40px 20px 46px; 
    	   	}
    	border-bottom: 2px solid #7da6ab;
    	border-top: 2px solid #7da6ab;
    	.job-list-loc__header {
    		text-align: center; 	
    		margin-bottom: 30px; 
    		h1 {display: inline-block; margin-left: 8px;  vertical-align: super; }
    		
    		p { font-size: 24px; color: #19494e; 
               @include breakpoint ($xs) {
                  font-size: 18px;  
                }

          a { color: #19494e; 

             font-size: 24px; text-decoration: underline;  

              @include breakpoint ($xs) {
                font-size: 18px;  
              }


             } } 
    	}
  	
  	.job-list-loc__content {
  		padding:0 50px; 
  			@include breakpoint ($xs) {
  				.col-xs-12	 {
  					//text-align: center; 
  				}
  			}

  			h5 {color: #363636;  font-size: 18px; margin-bottom: 10px;

          
            @include breakpoint ($xs) {
               font-size: 14px;
            }
        }

  			img {margin-bottom: 20px; }

  		ul {
  			display: inline-block;
  			margin-bottom: 20px;
  				@include breakpoint ($sm) {
  					margin-bottom: 20px;
  				}

  	  		li {
  				text-align: left; 
  	  			a {

  	  				color: #2c5256; 
  	  				font-size: 18px;

               @include breakpoint ($xs) {
                font-size: 14px;  
              }


 
  	  				line-height: 1;
  	  			}
  	  		}
    		}	
  	}
    	
    	
    }
  

  /* Courses
     ----------------------------------------------------*/
  
  .job-courses {
  	background: #ecf0f1;
  	padding: 40px 50px 46px; 
  		@include breakpoint ($lg) {
     		 padding: 40px 100px 46px; 
     	}
  	@include breakpoint ($xs) {
     		 padding: 40px 20px 46px; 
     	}
  	border-bottom: 2px solid #7da6ab;
  	border-top: 2px solid #7da6ab;
  	.job-courses__header {
  		text-align: center; 	
  		margin-bottom: 30px; 
  		h1 {display: inline-block; margin-left: 8px;  vertical-align: super; }
  		
  		p {  font-size: 24px; color: #19494e; 

          @include breakpoint ($xs) {
             font-size: 18px;  
           }
      }
  	}
	
	.job-courses__content {
		padding:0 50px; 
			@include breakpoint ($xs) {
				.col-xs-12	 {
					//text-align: center; 
				}
			}
		ul {
			display: inline-block;
				@include breakpoint ($sm) {
					margin-bottom: 50px;
				}

          @include breakpoint ($xs) {
            margin-bottom: 20px;  
          }

	  		li {
				text-align: left; 
	  			a {

	  				color: #363636; 
	  				font-size: 18px;

              @include breakpoint ($xs) {
                font-size: 14px;  
              }

	  				line-height: 1.6;
	  			}
	  		}
  		}	
	}
  	
  	
  }



/* Comapnay list
   ----------------------------------------------------*/
     .company-list {
     	
     padding: 40px 50px 46px; 

     	@include breakpoint ($lg) {
     		 padding: 40px 100px 46px; 
     	}

     	@include breakpoint ($xs) {
     		 padding: 40px 20px 46px; 
     	}
     	border-bottom: 2px solid #7da6ab;
     	border-top: 2px solid #7da6ab;
     	.company-list__header {
     		text-align: center; 	
     		margin-bottom: 30px; 
     		h1 {display: inline-block; margin-left: 8px;  vertical-align: super; }
     		
     		p { font-size: 24px; color: #19494e;

            @include breakpoint ($xs) {
               font-size: 18px;  
             }

         }
     	}
   	
   	.company-list__content {
		
   		max-width: 700px;
   		margin-left: auto;
   		margin-right: auto;
   		padding:0 50px; 
   		text-align: center; 
   		max-height: 250px;
   		overflow: hidden; 
   			@include breakpoint ($xs) {
   				.col-xs-12	 {
   					//text-align: center; 
   				}
   			}
   			
   	}
   	.company-list__content_outer {  
			position: relative; 
   	}

   	.arrows {
		position: absolute; 
		top: 37%;
    	right: 9%;
      z-index: 9999;
    		@include breakpoint ($lg) {
    			right: 20%;	
    		}

	     a {

	     	&:hover {
	     				        opacity: 0.8;
	     		}

	     		img {margin: 0;}
	     }

		.circle {
			
			    width: 10px;
			    height: 10px;
			    margin-left: 39%;
			    margin-top: 0;
			    display: block;
			    margin-bottom: -6px;
          margin-top: 2px;
			    background-color: #2c5357;
			    border-radius: 50%;
			   
			
		}

		#upClick{
			 display: inline-block;
			 background-image: url("../images/icons/arrow_up.png");
			 background-repeat: no-repeat;
			 background-position: 100% 100%; //center center
			 /* background-position: 25px 0px; */
			 width: 28px;
			 height: 25px;
		}
		#downClick{
			 display: inline-block;
			 background-image: url("../images/icons/arrow_down.png");
			 background-repeat: no-repeat;
			 background-position: 100% 100%; //center center
			 /* background-position: 25px 0px; */
			 width: 28px;
			 height: 25px;
		}
   	}

   	button {display: block; margin: 0 auto; margin-top: 30px;}
     	
     	
}



  /* Footer
     ----------------------------------------------------*/
  .site-footer {
  	background: #363636;
  	padding: 40px 50px 46px; 
	
		@include breakpoint ($lg) {
     		 padding: 5px 170px 5px; 
     	}

	.navbar-brand { 
		margin-bottom: 20px; 
    margin-left: -4px;
    width: 150px;
	}
  	h4 {color: #fff; margin-bottom: 10px; font-size: 16px; }
  	ul { 
  		li {
			a {
				color: #88b7bc; 
				font-size: 16px; 
				line-height: 1.4; 
			}
  		}
  	}

  	ul.social {
  		img {
             width: 38px;
            height: auto;
  			  @include breakpoint ($xs) {
            width: 32px;
            height: auto; 
          }
  			margin-right: 6px;
  				@include breakpoint ($xs) {
  					margin-bottom: 6px; 
  				}
  		}
  	}
  }
  	


  /* Search page
     ----------------------------------------------------*/
  .search-page{
    padding-right: 100px;
    padding-left: 100px;
      @include breakpoint ($xs) {
           padding-right: 30px;
            padding-left: 30px;  
            .p-r-10 {
              padding-right: 15px;
            }

            .p-l-10 {
              padding-left: 15px;
            }
      }

       @include breakpoint ($sm) {
           padding-right: 30px;
            padding-left: 30px; 

            .p-l-10 {
              padding-left: 15px;
            } 
      }


       @include breakpoint ($md) {
           padding-right: 50px;
            padding-left: 50px;  
      }


        margin-top: -1px;   
  }
  
  .search-page-inner {
    background: #ecf0f1;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 30px;
    @include clearfix;
    padding-bottom: 100px;

    &.job-detail-no-padding{
        padding-right: 0;
      padding-left: 0;
    }

    .collapse {
      display: block;
        @include breakpoint ($xs) {
          display: none;  
        }
    }

     .collapse.in {
        
        @include breakpoint ($xs) {
          display: block;  
        }
    }



  }
.sidebar-left {
  //background: #fff;
  
}

.search-content {
  .pagination>li>a, .pagination>li>span {
   // margin-right: 5px; 
  }

  .pagination>li:first-child>a, .pagination>li:first-child>span {
      margin-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
  }

  .pagination>li:last-child>a, .pagination>li:last-child>span {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
  }

  .pagination>li>a, .pagination>li>a, .pagination>li>span, .pagination>li>span {
    z-index: 3;
    color: #000;
    // background-color: #337ab7;
    // border-color: #ddd;
  }


  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 3;
    color: #000;
    background-color: #eee;
    border-color: #ddd;
  }
  .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus,
  .pagination > .active > span,
  .pagination > .active > span:hover,
  .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
     background-color: #337ab7;
    border-color: #ddd;
    cursor: default;
  }

  .pagination>li>a, .pagination>li>span {
   
      padding: 6px 10px; 
    }

}


.sidebar-right {
 background: #fff; 
 padding: 21px 24px; 

}



.module-filter-by-ind {
  margin-bottom: 20px; 
    h4 {font-size: 24px; font-weight: bold; margin: 0; color: #19494e; margin-bottom: 10px; }
    p {font-size: 18px; font-weight: bold; margin: 0; color: #363636; margin-bottom: 6px; }
    background: #fff; 
    //max-width: 160px;
    padding: 10px 6px;
    a.more {
       color: #2c5256; 
          font-weight: bold; 
          text-decoration: underline; 
    } 

    ul { 
      margin-bottom: 6px;
      li {
        a {
          font-size: 14px; 
          color: #2c5256; 
          font-weight: bold;
         

        }
      }
    }
    a.btn-flat {
        @include breakpoint ($xs) {
          display: inline-block !important;  
        }
      i {margin-left: 4px; }
      &:hover {
        text-decoration: none; 
      }
    }
}

.module-search  {
  background: #19494e;
  padding: 6px 16px 14px; 
  margin-bottom: 26px; 
  text-align: center; 
  p { color: #fff; margin-bottom: 10px; line-height: 1; line-height: 1.2;
    font-size: 14px; }

  .form-control {
      border: 2px solid #81b0b5;

      &::-moz-placeholder {
        color: #000; //dark gray
        opacity: 1;
        text-align: center;
      }
      &:-ms-input-placeholder {
        color: #000; //dark gray
        text-align: center;
      }
      &::-webkit-input-placeholder {
        color: #000; //dark gray
        text-align: center;
      }
  }

  .btn-flat {    padding: 6px 10px;   }
} 


.module-featured  {
   margin-bottom: 26px;
   &:last-child {
    margin-bottom: 0;
   }
   img { width: 83px; height: auto; }
    .module-featured_h {
      padding: 2px;
      margin-bottom: 8px; 
      background: #363636; 
      span {color: #fff; font-size: 14px;  }
    }

    .module-featured_content {
      h3 { color: #363636; font-size: 24px; font-weight: bold; margin: 0; margin-bottom: 4px;  }
      h4 { color: #363636; font-size: 14px; font-weight: bold; margin: 0;   }
    }
}


.module-similar-job {
  margin-bottom: 10px; 
  h4 { margin: 0; margin-bottom: 10px; color: #2c5256; font-size: 18px; font-weight: bold; }
  p { color: #363636;  font-size: 18px; margin-bottom: 0; }
  .module-similar-job-inner {
      border-bottom: 2px solid #67878a;
  }

}


/* Search content
   ----------------------------------------------------*/

.search-content_h {
  h2 {font-size: 36px; color: #19494e; font-weight: bold; margin: 0; margin-bottom: 20px; 
    
      @include breakpoint ($xs) {
        margin-top: 20px;   
      }

   }

  .tages {
    float: left;
      @include breakpoint ($xs) {
        float: none;
      }
    span {
      background: #fff; 
      text-align: left; 
      padding: 4px; 
      position: relative;
      display: inline-block; 
      min-width: 138px;  
      a  { position: absolute; top: 4px; right: 4px; color: #000; }
    }
  }

  .sort {
    float: right;
      @include breakpoint ($xs) {
        float: left;
        margin-top: 20px;
      }

    .btn-flat { padding: 6px 12px; }
    p { font-weight: bold; font-size: 14px; display: inline-block; margin-right: 10px; 

          @include breakpoint ($xs) {
                margin-bottom: 12px;  
          }

      }
    ul {     margin-top: -5px; min-width: 112px; margin-right: -1px !important;
        li {
          a {
            color: #19494e; 
          }
        }
      }
    .caret { float: right; margin-top: 7px; }

    .dropdown-menu { margin-top: 2px; border-radius: 0;  }
  }
}

.company-search-table {
  margin-top: 16px;
  .table {background: #fff; }
  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;} 
  .table>tbody>tr>td {  border-bottom: 2px solid #68888b; border-top: 0; padding: 8px 8px 12px; } 
  h3 { font-weight: bold; margin: 0;  margin-bottom: 4px; font-size: 24px;  }
  h4 { font-weight: bold; margin: 0; font-size: 14px;  }
  p {margin-bottom: 0; font-size: 14px;  }
  p.sponsored {margin-bottom: 0; font-size: 14px; color: #e67e22; font-weight: bold; 
    i { margin-left: 2px; }
     }
  img { width: 120px; min-height: 65px;  margin-top: 16px;}
  a.readMore { color: #19494e; text-decoration: underline; }
  .table>tbody>tr>td.featured {
      padding: 0; 
      border: 0;
      p {
          background: #363636; color: #fff; padding-left: 4px; }    
      }
    .table > tbody > tr.no-border td {  border: 0;}
    
}// end



/* registration
   ----------------------------------------------------*/
.registration-form {
    padding: 0 100px; 
      @include breakpoint ($xs) {
        padding: 0 50px; 
      }


}

.registration-form-inner {
  background: #ecf0f1;
  padding:10px 150px; 

  @include breakpoint ($xs) {
          padding:10px 50px; 
    }


   @include breakpoint ($sm) {
          padding:10px 100px; 
      }


  h4 {font-size: 24px; color: #19494e; font-weight: bold; margin-bottom: 24px; }
    
     .apply__form_area {
   
    p { margin-bottom: 20px; font-size: 18px;  }
    p.term { margin-bottom: 20px; font-size: 14px; color: #000; margin-top: 6px;   }
    
    a.fotget-pass {display: inline-block; color: #2c5256;  font-size: 14px;}
    .btn-flat { font-size: 18px;  padding: 6px 12px; }
  }

  .social-nav {
    a {display: inline-block; width: 220px; height: 40px;}
      .facebook { background: url("../images/registration/facebook.png") no-repeat;}
      .google {background: url("../images/registration/google.png") no-repeat;}
      .linkedin {background: url("../images/registration/linkedin.png") no-repeat;}
  }//

  
  label {
    font-size: 18px; font-weight: normal; 
  }

   .form-control {
      margin-bottom: 10px; 
    }

    input[type=file] {
        max-width: 106px;
        background: transparent;
         border: none;
         padding-left: 0; 

         
    }

    h5 {font-size: 18px; color: #000; }
    .btn-flat { 
           font-size: 18px; 
             @include breakpoint ($xs) {
                max-width: 100%;   
             }

    }
    .checkbox {
      label {
        color: #19494e; 
        font-size: 18px; 
      }
    }
    ul {
      margin: 0; 
      margin-top: 10px; 
      li {
        a {
          color: #363636; 
          font-size: 16px; 
        }
      }
    }

    // .icheckbox_minimal-blue {
    //   background-position: 0 0;
    //   margin-right: 14px;
    // }

    // .icheckbox_minimal-blue.checked {
    //   margin-right: 14px;
    // }

    .checkbox label, .radio label {
        
        padding-left: 0; 
    }

      @include breakpoint ($xs) {
        .no-p-xs   {padding: 0; }
        .no-p-sm   {padding: 0; }
      }

      @include breakpoint ($sm) {
        .no-p-sm   {padding: 0; }
      }


     .btn-file {
            position: relative;
            overflow: hidden;
            margin-bottom: 10px; 
            border-radius: 0; 
            padding: 1px 12px 4px; 
        }
        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
            border-radius: 0; 
        }


  // .my-detial {
  //   width: 75%; 
  //   margin-right: auto; 
  //   margin-left: auto; 
  // }



}



/* Job Detial
   ----------------------------------------------------*/
.job-detail {
  padding: 10px 20px 20px;

  ul {
    li {

      padding-bottom: 12px;

      a {
        
        &:hover , &:focus {
            text-decoration: none; 
          }


        &.btn-flat {
          padding: 2px 12px;



        }
      }
    }
  } //ul 


  p.list {
    font-size: 18px;
    span { 
      display: inline-block; 
       min-width: 100px; 
       color: #19494e;
       font-size: 18px;
      
      }
  }

  p  { font-size: 18px; 
      
      
  }
    
  .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px; 
        padding-left: 0;
    margin-bottom: 0; 

    li {
      a {
          color:#000;
          text-decoration: none;
      }
    }
  }

  .breadcrumb>li+li:before {
      content: "> ";
      padding: 0 5px;
      color: #ccc;
  }



  .btn-nav {
    float: right; 
      @include breakpoint ($xs) {
        float: none;   
      }
    a.btn-flat { min-width: 114px; padding: 5px 7px;  display: inline-block; text-align: center;  i { margin-right: 2px; }}
  }




}//end

.job-detail_c {
      
    p {margin-bottom: 20px; }

    
  } //job-detail_c

.job-detail_footer {
  padding-left: 100px;
    @include breakpoint ($xs) {
      padding-left: 0px;  
    }
  margin-top: 20px; 

  button {margin-bottom: 10px; }

  ul.social-contact {
    li {
      a {

      }
    }
    .skype {
       display: inline-block;
       background-image: url("../images/icons-set.png");
       background-repeat: no-repeat;
       background-position: -77px 0px;
       width: 32px;
       height: 32px;
    }

    .facebook {
       display: inline-block;
       background-image: url("../images/icons-set.png");
       background-repeat: no-repeat;
       background-position: -115px 0px;
       width: 32px;
       height: 32px;
    }

    .g-plus {
       display: inline-block;
       background-image: url("../images/icons-set.png");
       background-repeat: no-repeat;
       background-position: -154px 0px;
       width: 32px;
       height: 32px;
    }
  }

}//job-detail_footer
.job-detail_h {
  margin-bottom: 20px; 
  border-bottom: 2px solid #68888b; 
  padding-bottom: 6px; 
  h2 {color: #19494e; font-size: 36px; font-weight: bold; margin: 0; }
  p {font-size: 18px; font-style: italic; color: #19494e;  }
  .comp-logo { float: right;

      @include breakpoint ($xs) {
        float: left;
      }

   }
}



/* landing-page
   ----------------------------------------------------*/
.landing-page {
  .job-list__header {
    h2 { font-weight: bold; font-size: 24px; color: #124147;   margin: 0;  
    
      padding-left: 50px; 

     }
  }

  section.vidios {
    .vidios-inner {
      max-width: 995px;
      margin-left: auto; 
      margin-right: auto; 

      .slick-next { 
            top: 100%;
            right: -26px;
              @include breakpoint ($xs) {
                right: -33px;
              }
      }

      .slick-prev { 
            top: 100%;
            left: -45px;
      }

      .slick-prev:before{
          content: '';
         display: inline-block;
         background-image: url("../images/icons-set.png");
         background-repeat: no-repeat;
         
         background-position: -198px 0px;
         width: 27px;
         height: 29px;
    
      }

       .slick-next:before {
           content: '';
          display: inline-block;
          background-image: url("../images/icons-set.png");
          background-repeat: no-repeat;
          
          background-position: -231px 0px;
          width: 27px;
          height: 29px;
      }
        

        .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {

          height: 93%;
              width: 95%
        }


      
    }//end inner

    background: #ecf0f1; 
    border-top: 2px solid #68888b; 

    padding:20px 100px;
    
      @include breakpoint ($xs) {
           padding-right: 30px;
            padding-left: 30px;  
            .p-r-10 {
              padding-right: 15px;
            }

            .p-l-10 {
              padding-left: 15px;
            }
      }

       @include breakpoint ($sm) {
           padding-right: 30px;
            padding-left: 30px; 

            .p-l-10 {
              padding-left: 15px;
            } 
      }


       @include breakpoint ($md) {
           padding-right: 50px;
            padding-left: 50px;  
      }

   h2 { font-weight: bold; font-size: 24px; color: #124147; margin: 0; margin-bottom: 20px;  }


  }
}
