/*
 * ----------------------------------------------------------------------------------------
 * Nav styles.
 * ----------------------------------------------------------------------------------------
 */

 @include breakpoint (max-width 400px) {
		 		
		 		.navbar-toggle {
		 			margin-top: 18px;
		 		}
		 	}


.navbar-brand {
		 display: inline-block;
		 background-image: url("../images/rakiya_newlogo.png");
		 background-repeat: no-repeat;
		 background-position: 100% 100%; //center center
		 /* background-position: 25px 0px; */
		 width: 230px;
		 	

		 	@include breakpoint (max-width 400px) {
		 		width: 150px;
		 		.navbar-toggle {
		 			margin-top: 18px;
		 		}
		 	}


		 height: 56px;
		 background-size: 100%;
		 transition: width .5s ease-in-out;
		 	@include breakpoint ($xs) {
		 		float: none;	
		 	}
	}
.main-nav {
	
	.navbar-fixed-top {
	    padding-top: 20px; 
	    border-width: 0 0 1px;
	    padding-left: 50px;
	    	@include breakpoint ($xs) {
	    		padding-left: 0;	
	    	}
	    transition: all 0.5s;
	    	@include breakpoint ($lg) {
	    		padding-left: 90px;
	    	}
	    	@include breakpoint ($xs) {
	    		position: static !important; 
	    		    padding-bottom: 11px;
	    	}


	    	@include breakpoint (max-width 1020px) {
	    		
	    		    padding-bottom: 11px;
	    	}
	}
	 .is-sticky {
			background: #88b7bc; 
			transition: all 0.5s;
			.navbar-brand {
				 width: 200px !important;
				 transition: all 0.5s;

				 @include breakpoint (max-width 400px) {
			 		width: 150px;
			 		
		 		}

			}
			.navbar-nav>li>a { 
				
				&:hover , &:focus  {
			    	text-decoration: none; 
			    	background: transparent; 
			    	border-bottom: 3px solid #fff;
		    		transition-duration: 0.1s;
			    }

			}



	 }

	 .nav-white-link {
			
			transition: all 0.5s;
			.navbar-brand {
				 width: 230px !important;
				 transition: all 0.5s;

				 @include breakpoint (max-width 400px) {
			 		width: 150px  !important;
			 		
		 		}
			}
			.navbar-nav>li>a { 

				 color: #fff;
				
				&:hover , &:focus  {
			    	text-decoration: none; 
			    	background: transparent; 
			    	border-bottom: 3px solid #88b7bc;
		    		transition-duration: 0.1s;
			    }

			}

		&.is-sticky {
					.navbar-nav>li>a { 
							 color: #fff;
						&:hover , &:focus  {
					    	text-decoration: none; 
					    	background: transparent; 
					    	border-bottom: 3px solid #fff;
				    		transition-duration: 0.1s;
					    }

					}
		}

	 }



	 .navbar-nav {
	 	float: right; 
	 		@include breakpoint (max-width 1076px) {
	 			float: left; 
	 		}
	 			@include breakpoint ($xs) {
	 				float: none;
	 			}
	 }

	.navbar-nav>li>a {
	   
	    color: #19494e; 
	    font-size: 16px; 
	    text-decoration: none; 
	    
	    padding: 10px 5px;

	    padding-bottom: 3px; 
	    margin-right: 16px;
	    	@include breakpoint ($lg) {
	    		margin-right: 30px;	
	    	}
	    border-bottom: 3px solid transparent;

	    	@include breakpoint ($xs) {
	    		//margin-bottom: 10px;
	    		display: inline-block;	
	    	}

	    &:hover , &:focus  {
	    	text-decoration: none; 
	    	background: transparent; 
	    	border-bottom: 3px solid #88b7bc;
    		transition-duration: 0.1s;
	    }
	}


	.navbar-toggle .icon-bar {
		background: #E67F22;
	}
	

	.btn-flat {
		padding: 8px 12px;
		margin-right: 6px;
		margin-top: 0;
			@include breakpoint ($xs) {
				margin-bottom: 10px;	
			}

		color: #fff; 
	}

}

.nav.navbar-nav.pull-right {
		@include breakpoint ($xs) {
			float: none !important;
		}
}


