/*
 * ----------------------------------------------------------------------------------------
 * Plugins Setting.
 * ----------------------------------------------------------------------------------------
 */

 .carousel.vertical .carousel-inner {
  height: 100%;
  width: auto;
}
.carousel.vertical .carousel-inner > .item {
  width: auto;
  padding-right: 50px;
  -webkit-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;

    img {
    	border: 0;
    	margin-bottom: 15px;
    	margin-top: 11px;
    		@include breakpoint ($xs) {
    			    margin-left: auto;
    				margin-right: auto;	
    		}			
	}

}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel.vertical .carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    top: 0;
  }
  .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    top: 0;
  }
}
.carousel.vertical .carousel-inner > .active,
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  display: block;
}
.carousel.vertical .carousel-inner > .active {
  top: 0;
}
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel.vertical .carousel-inner > .next {
  top: 100%;
}
.carousel.vertical .carousel-inner > .prev {
  top: -100%;
}
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
}
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
}
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
}

.carousel.vertical .carousel-control {
  left: auto;
  width: 50px;
}
.carousel.vertical .carousel-control.up {
  top: 31%;

  @include breakpoint (400px 420px) {
  		top: 29%;	
  }

  	@include breakpoint (370px 399px) {
  		top: 27%;	
  	}

		@include breakpoint (350px 369px) {
  		top: 25%;	
  	}


  	@include breakpoint (max-width 349px) {
  		top: 22%;	
  	}


  right: 0;
  bottom: 50%;
}
.carousel.vertical .carousel-control.down {
  top: 46%;
  right: 0;
  bottom: 0;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-up,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel.vertical .carousel-control .icon-prev,
.carousel.vertical .carousel-control .glyphicon-chevron-up {
  left: 50%;
  margin-left: -10px;
  top: 75%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-next,
.carousel.vertical .carousel-control .glyphicon-chevron-down {
  left: 50%;
  margin-left: -10px;
  top: 15%;
  margin-top: -10px;
}
.carousel.vertical .carousel-control .icon-up,
.carousel.vertical .carousel-control .icon-down {
  width: 20px;
  height: 20px;
  line-height: 1;
  font-family: serif;
}
// .carousel.vertical .carousel-control .icon-prev:before {
//   display: inline-block; 
//   background-image: url("../images/icons/arrow_down.png");
//       background-repeat: no-repeat;
//       background-position: 100% 100%;
//           width: 28px;
//     height: 25px;
//       /* background-position: 25px 0px; */

// }
// .carousel.vertical .carousel-control .icon-next:before {
//   content: '\203a';
// }
.down-button {
	display: inline-block; 
	background-image: url("../images/icons/arrow_up.png");
	    background-repeat: no-repeat;
	    background-position: 100% 100%;
	        width: 28px;
	  height: 25px;
}


.up-button {
	display: inline-block; 
	background-image: url("../images/icons/arrow_down.png");
	    background-repeat: no-repeat;
	    background-position: 100% 100%;
	        width: 28px;
	  height: 25px;
}

.center-cercle {
	 position: absolute;
  	top: 44%;
  	z-index: 5;
  	 left: auto;
  	 right: 18px; 
	
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #2c5357;
	border-radius: 50%;
}

.carousel-control {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=90);
}


.carousel-control:hover {
    outline: 0;
    color: #fff;
    text-decoration: none;
    opacity: .5;
    filter: alpha(opacity=90);
}