/* 
 * ----------------------------------------------------------------------------------------
 * Global Style.
 * ----------------------------------------------------------------------------------------
 */
 
html, body {
	font-family: Titillium Web;
}
 h1 {
 	color: #19494e; 
 	margin: 0; 
 	font-size: 40px; 
 	font-weight: bold; 
 }

 	@include breakpoint ($xs) {
 		h1 {
 		 	color: #19494e; 
 		 	margin: 0; 
 		 	font-size: 34px; 
 		 	font-weight: bold; 
 		 }	
 	}

p {
	margin: 0; 
}